@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #03a297;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: @apply bg-gray-50;
    --foreground: #ededed;
  }
}

.maincolor {
  color: var(--main-color);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.item:hover .image-container .icons {
  bottom: 10px;
}
footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://live.themewild.com/medion/assets/img/shape/02.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .25;
  z-index: -1;
}

.mini-product:hover .mini-product-image{
  transform: scale(1.05);
}